h3 {
    margin: 1em 0 0.5em 0;
    color: #343434;
    font-size: 22px;
    line-height: 40px;
    font-weight: normal;
    text-transform: uppercase;
    font-family: 'Orienta', sans-serif;
    letter-spacing: 1px;
    font-style: italic;
}

h1 {
    margin: 0.5em 0 0.5em 0;
    color: #343434;
    font-weight: normal;
    font-family: 'Ultra', sans-serif;
    font-size: 36px;
    line-height: 42px;
    text-transform: uppercase;
    text-shadow: 0 2px white, 0 3px #777;
    text-align: center;
}

.layer1 {
    align-content: center;
    background-color: #ffccee;
    padding: 10px;
}

.layer2 {
    align-content: center;
    padding: 10px;
    background-color: #ffffb3;
}

.layer3 {
    align-content: center;
  background-color: #14c4a411;
    padding: 10px;
}